*{
	box-sizing: border-box;
	
}
.container{
	font-family: 'Work Sans', sans-serif;
	color: #fff;
	margin:0px -7px -15px;
	
}

.navbar{
	margin: 15px 25px 100px;
}
.menuPic{
	height:40px;
	width:40px;
	position: absolute;
	top:20px;
	right: 25px;
}
.menuPic:hover{
	transform: scale(1.2);
}


.brand{
	margin-left: 10px;
	margin-top: 20px;
	font-weight: bold;
	color:yellow;
}

.container video{
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height: 100%;
   object-fit: cover;
   z-index: -5;
}
#section{
	padding-left:35px;


}
#section h1{
	font-size: 3rem;
	font-weight: 900;
	padding-top: 100px;

}
#section h2{
	font-size: 2.5rem;
	font-weight: 700;
	padding-bottom: 20px;
}
#section p{
	max-width: 70%;
	font-size: 1.2rem;
	padding-bottom: 100px;
}

.button{
	height: 40px;
	width: 120px;
	background-color: white;
	padding: 10px 10px 10px 20px;
	margin-left: 35px;
	margin-bottom: 8px;
	background-color: yellow;
	border-radius: 25px;
	display: inline-block;
}

.button a{
	text-decoration: none;
	color: #000;
	transition: 0.2s;
}
.button:hover{
	background-color: #ffe0b3;
	color:#331f00;
	letter-spacing: 1.5px;
}

#footer{
	background-color: #1a1a00;
	margin-top:55px;
	margin-bottom: 0;
	text-align: center;

}
#footer .fab{
	padding-top: 80px;
	padding-bottom: 50px;
	margin: auto;
	padding-right: 18px;
	color: yellow;
	transition: 0.4s;
}

#footer .fab:hover{
transform: translateY(-8px);
}

#footer p{
	padding-bottom: 30px;
}

.list{
	position: absolute;
	top:0;
	right:0;
}

/*@media(min-width: 200px) and (max-width: 1020px){
    
#footer{
	margin-top: 26px;
}
#section p{
	padding-bottom: 30px;
}
}
@media (min-width: 1149px) and (max-width: 1526px){
	#footer{
	margin-top: 49px;
}
}*/